$yellow: #f5c000;

.general-button {
  min-width: 160px;
  width: 180px;
  height: 60px;
  border-radius: 60px;
  border: 6px solid white;
  text-align: center;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  font-size: 19px;
  font-weight: 900;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s ease;

  &.header-order-button {
    position: absolute;
    right: 30px;
    width: 12.8%;
    min-width: 150px;
  }

  &.close-button {
    position: static;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 40px;
    color: grey;
    border-color: grey;

    &:hover {
      background: grey;
      color: rgba(224,224,224,0.5);
      border-color: grey;
    }
  }

  &:hover {
    background: white;
    color: black;
    border-color: white;
  }

  &:active {
    background: gray;
    border-color: gray;
    padding: 3px 0 0 2px;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.order-product {
      box-shadow: 1px 1px #000000;
      text-shadow: 1px 1px #000000;

      &:hover {
        background-color: #fff2cc;
        border-color: #fff2cc;
        box-shadow: none;
        text-shadow: none;
        color: #735400;

      }
      &:active {
        transform: translate(2px,2px);
      }
    
  }
}


