.homepage {
  display: block;


  .cover-area{
            position: relative;
            width: 100vw;       //100% of recent window width
            height: 100vh;
            object-fit: cover; 
            margin-bottom: 20px;
   }


  .slider-container {
    width: 90%;
    display: block;
    margin: 0 auto 70px auto;
  
    .simple-slider {
      position: relative;
    
      .slick-prev::before, .slick-next::before {
        color: grey;
        opacity: 0.7;
      }
    }

    img {
      margin: 0 auto;
    }

  }

}