@mixin tag {
  margin: 2px 3px;
  padding: 2px 4px;
  border-radius: 5px;
  color: black;
}

.option-selector {
  margin: 12px 0;
  padding-bottom: 3px;
  border-bottom: 1px solid #3a3a3a;

  .heading {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 1px;
    .title {
      font-size: 0.9rem;
      margin: 2px 0;
    }
    .option-names {
      font-size: 0.8rem;
      margin: 2px 0;
      display: flex;
      justify-content: flex-start;
      //align-items: baseline;
      flex-wrap: wrap;
      .option-tag {
        @include tag;
        background-color: #f9dc5c;
      }
      .hover-tag {
        @include tag;
        background-color: #f0eff4;
      }
    }
  }

  .options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .option {
      height: 40px;
      width: 40px;
      line-height: 40px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.7;
      color: grey;
      border: 4px solid grey;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin: 1px 3px;

      &.selected {
        border: 6px solid #3c91e6;
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
