body {
  font-family: 'Mulish', sans-serif;
  color: white;
  background-color: black;
  box-sizing: border-box;
}

li {
  padding: 5px 0;
}

.font-switch-container {
  display: flex;
}

.font-switch-child {
  margin: 2px 5px;
}
