.full-page-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: -1;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 1s;
  animation-name: slide;
  animation-duration: 1s;

  .menu-option:first-child {
    margin-top: 130px;
  }

  .menu-option {
    font-size: x-large;
    width: 40%;
    padding: 20px;
    // border-bottom: 2px solid white;
    z-index: 1;
    transition: font-size 0.2s;
    cursor: pointer;

    &:hover {
      font-size: xx-large;
    }
  }
}

@-webkit-keyframes slide {
  0% {
    top: -200px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    top: -200px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
